@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F6F0;
  --foreground: #1A1A1A;
}

body {
  background-color: #F9F6F0;
  color: #1A1A1A;
  font-family: 'Nunito', sans-serif;
}
